!!! 5

%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title TURING School of Software & Design
    = javascript_include_tag 'modernizr'
    = stylesheet_link_tag 'application'
    = javascript_include_tag '//use.typekit.net/xxm2mvw.js'
    = javascript_include_tag 'analytics'
    :javascript
      try{Typekit.load();}catch(e){}

  %body{class: page_classes}

    %header.mod-header
      .layout-wrap
        %h1= link_to 'TURING School of Software & Design', '/'

        %nav
          %ul
            %li{class: nav_active('difference')}= link_to 'The Difference', '/difference.html'
            %li{class: nav_active('team')}= link_to 'Our Team', '/team.html'
            %li{class: nav_active('program')}= link_to 'The Program', '/program.html'
            %li{class: nav_active('apply')}= link_to 'Apply Now', 'http://apply.turing.io'
            %li{class: nav_active('contact')}= link_to 'Contact', '/contact.html'

    = yield

    = javascript_include_tag 'application'

    %footer.mod-footer
      %p © Copyright 2014 Turing School, All rights reserved
