.mod-intro
  %h2 Turing Turns Great Aptitude Into Great Developers.
  %p Being a developer takes the right mix of passion, curiosity, creativity, and confidence. We’ve found that combination across a variety of background including financial analysts, warehouse managers, bartenders, musicians and electrical engineers. If you’re ready to solve difficult problems then we can turn you into a professional software developer.
  %p= link_to 'Apply now', 'http://apply.turing.io', class: "button"

.mod-columns
  .layout-wrap
    %h2 The Difference

    .col.first
      %h3 Instruction
      %p Being a good developer does not prepare you to teach development. The Turing staff blends programming experience with years of classroom instruction. No other team can match our depth of expertise and on-the-ground instructional experience.

    .col
      %h3 Curriculum
      %p No other program approaches the depth of expertise our students develop. Beyond simple Rails applications, our students master Test-Driven Development, build and consume APIs, implement systems of coordinating applications, and understand strong Object-Oriented design.

    .col
      %h3 Results
      %p Turing is not a bootcamp, we build professionals. Our seven month instructional program is carefully crafted to prepare high-aptitude individuals for careers as software developers. Succeed in our program and you won’t just be an intern, you’ll be valuable.

    %p= link_to 'Learn more', '/difference.html', class: 'button gray'

.mod-quote
  .layout-wrap
    %blockquote
      “Lorem ipsum dolere sit amet nonummy consecuter adscpecit nomen es quid. Lorem ipsum dolere sit amet nonummy consecuter adscpecit.”
      %footer – Person Namehere

.mod-ankeiler
  .layout-inner-wrap
    %h2 Our Team
    %p Lorem ipsum dolere sit amet nonummy consecuter quid nonummy adscpecit. Lorem ipsum dolere sit amet nonummy consecuter quid nonummy adscpecit. Lorem ipsum dolere sit amet nonummy consecuter quid nonummy adscpecit.
    %p= link_to 'Learn more', '/team.html', class: 'button'

.mod-people
  %ul
    %li
      %figure.jorge= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
      %h3 Jorge Téllez
      %ul
        %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
        %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
    %li
      %figure.jeff= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
      %h3 Jeff Casimir
      %ul
        %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
        %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
    %li
      %figure.katrina= image_tag('p_katrina_gray.jpg', alt: 'Katrina Owen')
      %h3 Katrina Owen
      %ul
        %li= link_to 'Twitter', 'https://twitter.com/kytrinyx', class: 'twitter'
        %li= link_to 'Github', 'https://github.com/kytrinyx', class: 'github'
    %li
      %figure.jorge= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
      %h3 Jorge Téllez
      %ul
        %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
        %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
    %li
      %figure.jeff= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
      %h3 Jeff Casimir
      %ul
        %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
        %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
    %li
      %figure.katrina= image_tag('p_katrina_gray.jpg', alt: 'Katrina Owen')
      %h3 Katrina Owen
      %ul
        %li= link_to 'Twitter', 'https://twitter.com/kytrinyx', class: 'twitter'
        %li= link_to 'Github', 'https://github.com/kytrinyx', class: 'github'

.mod-ankeiler
  .layout-inner-wrap
    %h2 The Program
    %p Lorem ipsum dolere sit amet nonummy consecuter quid nonummy adscpecit. Lorem ipsum dolere sit amet nonummy consecuter quid nonummy adscpecit. Lorem ipsum dolere sit amet nonummy consecuter quid nonummy adscpecit.
    %p= link_to 'Learn more', '/team.html', class: 'button'

= partial 'get_started'

%footer.mod-footer
  %p © Copyright 2014 Turing School, All rights reserved
