.mod-people.details
  .layout-inner-wrap
    %h2 Our Team

    %ul.people
      %li{style: "background-image: url(#{image_path('p_jorge.jpg')})"}
        %figure.jorge= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
        %h3 Jorge Téllez
        %ul
          %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
      %li{style: "background-image: url(#{image_path('p_jeff.jpg')})"}
        %figure.jeff= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
        %h3 Jeff Casimir
        %ul
          %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
      %li{style: "background-image: url(#{image_path('p_katrina.jpg')})"}
        %figure.katrina= image_tag('p_katrina_gray.jpg', alt: 'Katrina Owen')
        %h3 Katrina Owen
        %ul
          %li= link_to 'Twitter', 'https://twitter.com/kytrinyx', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/kytrinyx', class: 'github'
      %li{style: "background-image: url(#{image_path('p_jorge.jpg')})"}
        %figure.jorge= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
        %h3 Jorge Téllez
        %ul
          %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
      %li{style: "background-image: url(#{image_path('p_jeff.jpg')})"}
        %figure.jeff= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
        %h3 Jeff Casimir
        %ul
          %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
      %li{style: "background-image: url(#{image_path('p_katrina.jpg')})"}
        %figure.katrina= image_tag('p_katrina_gray.jpg', alt: 'Katrina Owen')
        %h3 Katrina Owen
        %ul
          %li= link_to 'Twitter', 'https://twitter.com/kytrinyx', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/kytrinyx', class: 'github'

= partial 'get_started'
