.mod-people.details
  .layout-inner-wrap
    %h2 Our Team

    %ul.people
      %li
        %figure{style: "background-image: url(#{image_path('p_jeff.jpg')})"}= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
        %h3 Jeff Casimir
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
        %h4 Executive Director
        %p Stretching back to 2005, Jeff has more experience teaching Ruby and Rails than anyone in the world. Starting his education career with Teach for America in 2003, he’s taught middle school, high school, co-founded a middle school, created Jumpstart Lab in 2009, Hungry Academy in 2012, and gSchool in 2013. Along the way he’s taught thousands of developers, taken nearly a hundred people from “no experience” to professional, and created over a thousand pages of instructional content.
        %p Beyond the classroom, Jeff is a prolific speaker delivering keynotes, talks, workshops at dozens of conferences and user groups in addition to co-organizing RailsConf. He contributes regularly to open source and is among the most active Rubyists on Github. His Draper gem has been downloaded almost a million times, while the open source Curriculum repo has helped hundreds of developers raise their skills.
        %p For Turing, Jeff designs the overarching instructional program, coordinates the instructional team, connects students with the community, directs the hiring process, and teaches full-group sessions.

      %li.even
        %figure{style: "background-image: url(#{image_path('p_katrina.jpg')})"}= image_tag('p_katrina_gray.jpg', alt: 'Katrina Owen')
        %h3 Katrina Owen
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/kytrinyx', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/kytrinyx', class: 'github'
        %h4 Senior Curriculum & Software Developer
        %p Katrina did not start programming on a Commodore 64. She was 27 when she wrote her first line of code after years of trying to find her thing. Starting with PHP she quickly developed a taste for software quality. Soon she was the team member pushing everyone else to write tests and care about how their code is architected, not just that it works.
        %p Katrina debuted in the Ruby community in 2011, speaking at twenty conferences in a span of three years. She’s best known for her ability to refactor complex code into simple systems and explain the process clearly. Katrina also created Exercism.io where she and a small team have helped thousands of developers improve their skills.
        %p In 2013 she began teaching with Jumpstart Lab full-time and has particularly focused on small-group and 1-on-1 pair programming. For Turing she has focused on our ramp-up curriculum, completely reworking the critical first six weeks of the program.

      %li
        %figure{style: "background-image: url(#{image_path('p_josh.jpg')})"}= image_tag('p_josh_gray.jpg', alt: 'Josh Cheek')
        %h3 Josh Cheek
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/josh_cheek', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/joshcheek', class: 'github'
        %h4 Instructor & Software Developer
        :markdown
          Josh developed his programming skills in the Air Force then went on to spend several years refining them at 8th Light in Chicago. He’s a natural teacher and caught our eye with his Ruby Kickstart, a set of tutorials created for friends interested in learning Ruby, and the amazing Seeing Is Believing project.
        %p For Turing, Josh brings great industry credentials combined with teaching and mentoring experience. Josh and Jeff teach the majority of full-group classes and work with the rest of the team to develop content.

      %li.even
        %figure{style: "background-image: url(#{image_path('p_jorge.jpg')})"}= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
        %h3 Jorge Téllez
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
        %h4 Supporting Instructor & Software Developer
        %p Jorge spent years in International Development and business, particularly focused on issues relating to his native Mexico. Always a student to technology, he enrolled in the first gSchool course in 2013.
        %p Since then, Jorge’s demonstrated an extreme aptitude for both programming and teaching. He started with 1-on-1 student support, and quickly grew into running full group sessions, writing new curriculum, and developing fantastic software.
        %p With Turing, Jorge’s in charge of coordinating software projects, such as the A2 application platform and six other internal applications. He also runs full-group class sessions, particularly around UX and designing for customers, and provided 1-on-1 student support.

      %li
        %figure{style: "background-image: url(#{image_path('p_rachel.jpg')})"}= image_tag('p_rachel_gray.jpg', alt: 'Rachel Warbelow')
        %h3 Rachel Warbelow
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/rwarbelow', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/rwarbelow', class: 'github'
        %h4 Supporting Instructor & Pedagogy Lead
        %p Rachel is a teacher first, having started in Las Vegas with Teach for America in 2007 and continuing into 2014. In 2010 she and a partner started a school within a school, the Scholars Working OverTime (SWOT) program to propel students towards college. She got her start in programming through DevBootcamp’s Chicago program in 2013. Over the 2013-2014 school year she began teaching programming to her students. Since they didn’t have computers, Rachel had them write code with paper and pencil. She acted as the computer to correct their work. Along with a friend, she launched a successful Kickstarter campaign to build a modern computer lab for the students and accelerate their growth.
        %p Rachel joins Turing in the summer of 2014 and is tasked with improving our educational pedagogy. We’ve always followed strong educational practices, but as the program grows Rachel will guide us through developing clear learning goals, achievement standards, and evaluation rubrics.
        %p Externally, Rachel coordinates our community efforts, like teaching workshops and courses to high school and college students, sharing our materials with other nonprofits around the world, and figuring out how to broaden our impact beyond our walls. Along the way she’ll also run full-group class sessions, pair program with individual students, and contribute to our internal applications.

      %li.even
        %figure{style: "background-image: url(#{image_path('p_susannah.jpg')})"}= image_tag('p_susannah_gray.jpg', alt: 'Susannah Compton')
        %h3 Susannah Compton
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/susannahcompton', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/susannahcompton', class: 'github'
        %h4 Business Manager & Student Coordinator
        %p Susannah spent years in the Government Accountability Office (GAO) where she was responsible for improving the functionality and efficiency of the US Federal Government. Joining Jumpstart Lab in 2012, she’s focused on running the business side of things and coordinating external relationships.
        %p For Turing, Susannah coordinates the student applications and admissions, tuition payments, and business operations. More importantly, she oversees the mentoring and hiring programs, making sure that students are successful well beyond their time with us.

= partial 'get_started'
